/* Toolbar*/
.toolbar-spacer {
    flex: 1 1 auto;
}

.toolbar-button {
    margin-top: 22px;
    margin-left: 15px;
}
/* //Toolbar*/

.dialog-actions {
    display: flex;
    justify-content: flex-end;
  }