mat-grid-tile {
  background: whitesmoke;
}

.search {
  margin-top: 30px;
  border-radius: 0;
}

.custom-toolbar {
  padding-left: 0px;
  padding-right: 0px;
}

.image {
  max-width: 100%;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
